body {
  margin: 0;
  padding: 0;
  background-color: #162719;

  font-family: Montserrat;
}

.title {
  width: 35%;
  margin: auto;
  margin-top: 0.5%;
  padding: 0.5% 0;
  text-align: center;
  background-color: #F2E8CF;
  color: #162719;

  font-weight: bolder;
  border-radius: 10px;
}

h1 {
  margin: 0;
  padding: 0;
}

.main-div {
  width: 30%;
  height: 500px;
  margin: auto;
  margin-top: 0.5%;
  padding: 3% 0 0 0;

  background-color: #F2E5D7;
  border-radius: 15px;
  border: 2px solid white;

  box-shadow: 5px 10px 18px black;
}